<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Document</title>
</head>
<body>
    <form action="/login" method="post">
        <label htmlFor="username">Username</label>
        <input type="text" name="username" id="username" placeholder="username" />
        <br />
        <label htmlFor="password">Password</label>
        <input type="password" name="password" id="password" placeholder="password" />
        <p id="message">&lt;%= message %&gt;</p>
        <button type="submit">Log in</button>
      </form>
      
</body>
</html>